Repository thermopower/7th_mafia_challenge, changes with the labels that .github/labeler.yml gives for each.
All labels: test, documentation, backend, frontend, dependencies, ci-cd, database, config

docs: update test environment plan with completion status
  docs/test-env-plan.md
Labels: documentation

docs: add comprehensive test plan for full codebase coverage
  docs/tests/comprehensive/test-plan.md
Labels: documentation

test: implement Week 1 core backend service tests
  .claude/agents/testplan-writer.md
  .claude/settings.local.json
  prompt/userpromt/test.md
  src/__tests__/utils/mock-factories.ts
  src/features/analysis/backend/service.test.ts
  src/features/analyze/backend/service.test.ts
  src/features/payment/backend/service.test.ts
  src/features/subscription/backend/service.test.ts
Labels: test, documentation, backend

test: fix 15 failing unit tests with proper mocking patterns
  src/features/analysis/backend/service.test.ts
  src/features/subscription/backend/service.test.ts
Labels: test, backend

test: implement Week 2 API route integration tests (30 tests)
  src/__tests__/utils/mock-factories.ts
  src/features/analysis/backend/route.test.ts
  src/features/analyze/backend/route.test.ts
  src/features/payment/backend/route.test.ts
  src/features/subscription/backend/route.test.ts
Labels: test, backend

test: implement Week 3 frontend component tests
  src/__tests__/setup.ts
  src/features/analysis/components/analysis-card.test.tsx
  src/features/analysis/components/analysis-filters.test.tsx
  src/features/analysis/components/analysis-list.test.tsx
  src/features/analysis/components/delete-dialog.test.tsx
  src/features/analysis/components/fortune-card.test.tsx
  src/features/analysis/components/share-modal.test.tsx
  src/features/analyze/components/new-analysis-form.test.tsx
  src/features/analyze/components/profile-selector.test.tsx
  src/features/analyze/components/quota-warning-modal.test.tsx
  src/features/subscription/components/cancel-subscription-modal.test.tsx
  src/features/subscription/components/payment-history-table.test.tsx
  src/features/subscription/components/plan-comparison-table.test.tsx
  src/features/subscription/components/subscription-status-card.test.tsx
Labels: test, frontend

test: implement Week 4 Hooks and Utilities tests (35 tests)
  src/features/analysis/hooks/use-analyses-list.test.tsx
  src/features/analysis/hooks/use-analysis-detail.test.tsx
  src/features/analysis/hooks/use-delete-analysis.test.tsx
  src/features/analysis/hooks/use-download-pdf.test.ts
  src/features/analyze/hooks/use-create-analysis.test.tsx
  src/features/payment/hooks/use-confirm-payment.test.tsx
  src/features/subscription/hooks/use-cancel-subscription.test.tsx
  src/features/subscription/hooks/use-subscription-status.test.tsx
  src/lib/gemini/client.test.ts
  src/lib/gemini/prompts.test.ts
  src/lib/saju/calculate.test.ts
  src/lib/share/clipboard.test.ts
  src/lib/share/kakao.test.ts
  src/lib/share/pdf.test.ts
Labels: test

.github/labeler.yml:

test:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.test.tsx'
      - '**/*.spec.ts'
      - 'e2e/**/*'
      - 'src/__tests__/**/*'
      - 'vitest.config.ts'
      - 'playwright.config.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**/*'

backend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/backend/**/*'
      - 'src/features/**/backend/**/*'
      - 'src/app/api/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/app/**/page.tsx'
      - 'src/app/**/layout.tsx'
      - 'src/components/**/*'
      - 'src/features/**/components/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/**/*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'supabase/migrations/**/*'

config:
  - changed-files:
    - any-glob-to-any-file:
      - '*.config.ts'
      - '*.config.js'
      - '.env*'
      - 'tsconfig.json'
